.weatherDis{
    margin-top: 5px;
    margin-bottom: 20px;
    color: white;
}

#weatherImg{
    width: 50px;
    margin-left: 5px;
    margin-top: -4px;
    margin-bottom: -6px;

}

#weatherIcon{
    margin-left: 12px;
    margin-top: -6px;
    margin-bottom: 6px;
    color: white;
}

#mph{
    font-size: 12px;
    margin-left: 72px;
    margin-top: -8px;
    color: white;
}

#temp{
    margin-top: -60px;
    margin-left: 60px;
    margin-bottom: 16px;
    font-size: 24px;
    color: white;
}

#speed{
    margin-top: -3px;
    margin-left: 4px;
    color: white;
}